@import "@/assets/styles/mixins.scss";

$mainColor: #0092C8;
$secondaryColor: #77BE43;
$tertiaryColor: #f1f1f2;

.grey-background{
  background: rgb(241 241 241) !important;
  display: block;
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
  @include phones{
    padding: 25px 0;
  }
  & h1{
    text-align: center;
    font-size: 36px;
    @include tablets{
      font-size: 24px;
      padding: 15px 0;
    }
  }
    & span{
      text-align: center;
      font-size: 36px;
      @include tablets{
        font-size: 24px;
        padding: 15px 0;
      }
    }
}
