*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 14px;
  font-family: "Roboto Cn", sans-serif;
  color: black;
  background-color: white;
}
body{
  height:100%;
  background-color: lightblue;

}

a{
  text-decoration: none;
  color: black;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
